<h3>Komentarze:</h3>
<div class="comment_contener">
{% for comment in commentsList %}
        <div class="comment_wraper">
            <p class="comment_head">Dodana przez: <b>{{ comment.maker.username }}</b> Dnia: <i>{{ comment.createDate.date }}</i></p>
            <div class="comment_content_wraper">
                <p>Treść komentarza:</p>
                {{ comment.content | raw }}
            </div>
            <hr>
        </div>
{% endfor %}
</div>